<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Book Collection</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <link rel="stylesheet" href="./csss/browsecss.css">
</head>
<body>
    <!--------- PAGE HEADER S --------->
    <header>
        <nav>
            <div class="logo-search">
                <img href="/home" src="./LOGO/ld white.png" class="logos">
            <form action="/search" method="GET">
                <div class="search-box">
                    <input type="search" name="query" placeholder="Search Here...">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </form>
                <div class="icon">
                    <a href="/bookmarks"><i class="fa-solid fa-bookmark"></i></a>
                </div>
            </div>
            <ul>
                <li><a href="/home">Home</a></li>
                <li class="active"><a href="bcollection.html">ITEMS</a></li>
            </ul>
        </nav>
    </header>
    <!--------- PAGE HEADER E --------->

    <!--------- COLLECTION S --------->
        <section class="sec-2">
            <div class="content">
                <div class="titile">
                    <h4>THE ITEM LIST</h4>
                    <section class="filter-section">
                        <div class="filter-box">
                            <label for="sortFilter">Sort By:</label>
                            <select id="sortFilter" onchange="handleSortChange(this.value)">
                                <option value="default" {{#eq sortOption "default"}}selected{{/eq}}>Default</option>
                                <option value="a-z" {{#eq sortOption "a-z"}}selected{{/eq}}>A-Z</option>
                                <option value="latest" {{#eq sortOption "latest"}}selected{{/eq}}>Latest Book</option>
                                <option value="oldest" {{#eq sortOption "oldest"}}selected{{/eq}}>Oldest Book</option>
                            </select>
                        </div>
                    </section>
                </div>

                <!--------- FIRST ROW S--------->
                <div class="all-items">
                        {{#each groupedBooks}}
                                <div class="row">
                                    {{#each this}}
                                        <div class="item">
                                            <div class="div-img">
                                                <img src="data:image/jpeg;base64,{{ this.ItemImage }}" alt="{{ this.Title }}">
                                            </div>
                                            <div class="div-text">
                                                <h4><a href="/item?bookId={{this._id}}">{{ this.Title }}</a></h4>
                                                <p>{{ this.CreatorAuthor}}</p>
                                            </div>
                                        </div>
                                    {{/each}}
                                </div>
                        {{/each}}
                </div>
            </div>
        </section>    

<script>
    function handleSortChange(sortOption) {
        window.location.href = `/bcollection?sortOption=${sortOption}`;
    }
</script>

</body>
</html>