<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DASHBOARD</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="./csss/style.css">
</head>
<body>
    <!--------- HEADER S--------->
    <header>
        <nav>
            <div class="logo-search">
                <img href="/home" src="./LOGO/ld white.png" class="logos">
                <div class="icon">
                    <a href="/bookmarks"><i class="fa-solid fa-bookmark"></i></a>
                </div>
            </div>
            <ul>
                <li class="active"><a href="/home">HOME</a></li>
                <li><a href="/bcollection">ITEMS</a></li>
            </ul>
        </nav>
    </header>
    <!--------- HEADER E--------->

        <!--------- SIDE MENU ROW S--------->
        <section class="hero">
            
            <div class="side-bar">
                <h4><i class="fa-solid fa-bars"> </i>USER</h4>
                <ul>
                    <li>
                        <i class="fa-solid"></i>
                        <a href="/profile">My Profile</a>
                    </li>
                    <li>
                        <i class="fa-solid"></i>
                        <a href="/myborrow">My Borrowed</a>
                    </li>
                    <li>
                        <i class="fa-solid"></i>
                        <a href="/myreserved">My Request</a>
                    </li>
                    <li>
                    <i class="fa-solid"></i>
                        <a href="/mytransaction">My Penalties</a>
                    </li>
                    <li>
                        <i class="fa-solid"></i>
                        <a href="/logout">Log Out</a>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="div-text">
                    <span>WELCOME TO</span>
                    <h1>THE LIBRARY</h1>
                    <p> Discover and Borrow from our extensive collection of books and more..</p>
                </div>
            </div>
        </section>
        <!--------- SIDE MENU ROW E--------->
        <!--------- TOP BOOK ROW S--------->
            <section class="sec-2">
                <!--------- TOP BOOK S--------->
                <div class="side-bar">
                    <div class="titile">
                        <h4> CURRENTLY POPULAR </h4>
                    </div>
                    {{#each topBooks}}
                    <div class="item">
                        <div class="div-img2">
                            <img src="data:image/jpeg;base64,{{this.ItemImage}}" alt="{{this.Title}}">
                        </div>
                        <div class="div-text">
                            <h4><a href="/item?bookId={{this._id}}">{{this.Title}}</a></h4>
                            <p>{{this.CreatorAuthor}}</p>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <!--------- TOP BOOK E--------->
                <!--------- NEW BOOKS S--------->
                <div class="content">
                    <div class="titile">
                        <h4>NEW ITEMS IN LIBRARY</h4>
                    </div>
                    <div class="all-items">
                        {{#each latestBooks}}
                            <div class="item">
                                <div class="div-img">
                                    <img src="data:image/jpeg;base64,{{this.ItemImage}}" alt="{{this.Title}}">
                                </div>
                                <div class="div-text">
                                    <h4><a href="/item?bookId={{this._id}}">{{this.Title}}</a></h4>
                                    <p>{{this.CreatorAuthor}}</p>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
                <!--------- NEW BOOKS E--------->
            </section>
        <!--------- TOP BOOK ROW E--------->
        <!--------- UPCOMING ROW S--------->
        <section class="sec-3">

            <!--------- UPCOMING SIDE S--------->
            <div class="side-bar">
                <div class="titile">
                    <h4>Your Recent Reads</h4>
                </div>
                <div class="boxs">
                    {{#each recentUserActivity}}
                        <div class="item">
                            <img src="data:image/jpeg;base64,{{ this.book.ItemImage }}" alt="{{this.book.Title}}">
                            <div class="div-text">
                                <h4><a href="/item?bookId={{this.book._id}}">{{this.book.Title}}</a></h4>
                                <p>{{this.book.CreatorAuthor}}</p>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
            <!--------- UPCOMING SIDE E--------->

            <!--------- THE COLLECTION S--------->
            <div class="content">
                <div class="bg-sec">
                    <div class="div-text">
                        <h1>THE ITEM LIST</h1>
                        <p>Browse from our extensive items collection</p>
                        <a href="/bcollection" class="btn">Browse</a>
                    </div>
                </div>
            <!--------- RANDOM BOOKS S--------->
                <div class="all-items" id="">
                    {{#each randomBooks}}
                        <div class="item">
                            <div class="div-img">
                                <img src="data:image/jpeg;base64,{{this.ItemImage}}" alt="{{this.Title}}">
                            </div>
                            <div class="div-text">
                                <h4><a href="/item?bookId={{this._id}}">{{this.Title}}</a></h4>
                                <p>{{this.CreatorAuthor}}</p>
                            </div>
                        </div>
                    {{/each}}
                <!--------- RANDOM BOOKS E--------->
                </div>
            </div>
            <!--------- THE COLLECTION E--------->
        </section>
        <!--------- UPCOMING ROW E --------->


</body>
</html>