<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{book.Title}}</title>
    <link rel = "stylesheet" href="./csss/item.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <!--------- HEADER S--------->
        <header>
            <nav>
                <div class="logo-search">
                    <img href="/home" src="./LOGO/ld white.png" class="logos">
                   <!-- <div class="search-box">
                        <input type="search" placeholder="Search Here...">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>-->
                    <div class="icon">
                    <a href="/bookmarks"><i class="fa-solid fa-bookmark"></i></a>
                    </div>
                </div>
                <ul>
                    <li><a href="/home">HOME</a></li>
                    <li><a href="/bcollection">ITEMS</a></li>
                </ul>
            </nav>
        </header>
    <!--------- HEADER E--------->
    <div class = "main-wrapper">
        <div class = "container">
            <div class = "product-div">
                <div class = "product-div-left">
                    <div class = "img-container">
                        <img src ="data:image/jpeg;base64,{{ book.ItemImage }}" alt="{{ book.Title }}">
                    </div>
                    <div class = "hover-container">
                        <div><img src = "data:image/jpeg;base64,{{ book.ItemImage }}" alt="{{ book.Title }}"></div>
                        <!--<div><img src = "imgs/bok2.jpg"></div>-->
                    </div>
                </div>
                <div class = "product-div-right">
                    <span class = "product-name">{{book.Title}}</span>
                    <span class = "product-price">{{book.CreatorAuthor}}</span>
                    <div class = "product-rating">
                        <span>{{book.EditionNumber}} Edition</span>
                    </div>
                    <p class = "product-description">{{book.Description}}</p>
                    <div class = "btn-groups">
                        <form action="/check" method="post">
                            <input type="hidden" name="userId" value="{{ user._id }}">
                            <input type="hidden" name="itemId" value="{{book._id}}">
                            <input type="hidden" name="name" value="{{user.Fullname}}">
                            <input type="hidden" name="userName" value="{{ user.Username }}">
                            <input type="hidden" name="idNumber" value="{{ user.IDNumber }}">
                            <input type="hidden" name="title" value="{{ book.Title }}">
                            <input type="hidden" name="author" value="{{ book.CreatorAuthor }}">
                            <input type="hidden" name="callNumber" value="{{ book.CallNumber }}">
                            <input type="hidden" name="contact" value="{{ user.ContactNumber }}">
                            <input type="hidden" name="address" value="{{user.Address}}">
                            <input type="hidden" name="email" value="{{user.Email}}">
                            <input type="hidden" name="edition" value="{{book.EditionNumber}}">
                            <input type="hidden" name="image" value="{{ book.ItemImage }}">
                            <input type="hidden" name="type" value="{{ user.AccountType }}">

                                    {{#if availableCopiesCount}}
                                        <button type="submit" class="request-btn"><i class="fas fa-wallet"></i> Request Now</button>
                                    {{else}}
                                        <button type="button" class="request-btn-disable" disabled><i class="fas fa-wallet"></i> Out of Copies</button>
                                    {{/if}}
                            
                            <button type ="button" class = "add-cart-btn" onclick="bookmarkItem()">
                                <i class="fa-solid fa-book-bookmark"></i>  Bookmark 
                            </button>
                        </form> 
                        <div class="available-copies">
                        <span>Available Copies:{{ availableCopiesCount }}</span> <!-- AVAILABLE COPIES COUNT -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    
        <section class="sec-2">
            <div class="content">
                <div class="titile">
                    <h4>Item Specification and Description</h4>
                </div>
                <!--------- FIRST ROW S--------->
                <div class="row">
                    <div class="book-spec">
                        <div class="spec-section">
                            <h4>Item Specification</h4>
                            <div class="book-specs">
                                <h4>Title: <span class="book-detail">{{book.Title}}</span></h4>
                            </div>
                            <div class="book-specs">
                                <h4>Author: <span class="book-detail">{{book.CreatorAuthor}}</span><h4>
                            </div>
                            <div class="book-specs">
                                <h4>Publisher: <span class = "book-detail">{{book.Publisher}}</span></h4>
                            </div>
                            <div class="book-specs">
                                <h4>Language: <span class = "book-detail">{{book.Language}}</span></h4>
                            </div>
                            <div class="book-specs">
                                <h4>Creation Date: <span class = "book-detail">{{book.CreationDate}}</span></h4>
                            </div>
                            <div class="book-specs">
                                <h4>Genre: <span class = "book-detail">{{book.Genre}}</span></h4>
                            </div>
                            <div class="book-specs">
                                <h4>Edition Number: <span class = "book-detail">{{book.EditionNumber}}</span></h4>
                            </div>
                            <div class="book-specs">
                                <h4>Edition Title: <span class = "book-detail">{{book.EditionTitle}}</span></h4>
                            </div>
                            <div class="book-specs">
                                <h4>Edition Year: <span class = "book-detail">{{book.EditionYear}}</span></h4>
                            </div>
                            <div class="book-specs">
                                <h4>Country: <span class = "book-detail">{{book.Country}}</span></h4>
                            </div>
                        </div>
                    </div>
                    <div class="book-spec2">
                        <div class="spec-section">
                            <h4>Item Description</h4>
                                <p class="book-detail">{{book.Description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>   
    <script src="./jss/product.js"></script>
    <script>
        function bookmarkItem() {
            const userId = "{{ user._id }}";
            const bookId = "{{book._id}}";
            const name = "{{ user.Fullname }}";
            const idNumber = "{{ user.IDNumber }}";
            const callNumber = "{{ book.CallNumber }}";

            fetch("/bookmark", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    userId,
                    bookId,
                    name,
                    idNumber,
                    callNumber,
                }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.message === "Bookmarked Successfully") {
                    Swal.fire({
                        icon: "success",
                        title: "Bookmark Successful",
                        showConfirmButton: false,
                        timer: 1500
                    });
                } else if(data.message === "Book already bookmarked") {
                    Swal.fire({
                        icon: "error",
                        title: "Book Already Marked.",
                        showConfirmButton: false,
                        timer: 1500
                    });
                } 
            })
            .catch(error => {
                console.error("Error:", error);
                Swal.fire({
                    icon: "error",
                    title: "Failed!",
                    showConfirmButton: false,
                    timer: 1500
                });
            });
        }
    </script>
</body>
</html>